---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { BiCalendarEdit, BiCategoryAlt } from "react-icons/bi";

type Props = {
  posts: CollectionEntry<"posts">[];
  className?: string;
  fluid?: boolean;
};

const { summary_length } = config.settings;
const { className, posts } = Astro.props;
---

<div
  class={`row gy-5 gx-4 ${className} ${posts.length == 1 ? "justify-center" : ""} `}
>
  {
    posts.map((post, i: number) => (
      <div
        class={`post-list-card group bg-white dark:bg-darkmode-body ${i < 2 ? "col-12 sm:col-6" : "col-12 sm:col-6 md:col-4"}`}
      >
        {post.data.image && (
          <a
            href={`/${post.id.replace(/^\d{4}-\d{2}-\d{2}-/, "").replace(/\.(md|mdx)$/, "")}`}
            class="block group-hover:text-primary transition duration-300"
          >
            <Image
              class=" transition duration-300 w-full"
              src={post.data.image}
              alt={post.data.title}
              width={i === 0 ? 545 : 445}
              height={i === 0 ? 280 : 230}
            />
          </a>
        )}
        <ul class="mt-6 mb-4 flex flex-wrap items-center text-sm dark:text-darkmode-text">
          <li class="mr-5 flex items-center flex-wrap font-medium">
            <BiCalendarEdit className="mr-1 h-4 w-4 text-gray-600 dark:text-darkmode-text" />
            {dateFormat(post.data.date!)}
          </li>
          <li class="mr-5 flex items-center flex-wrap">
            <BiCategoryAlt className="mr-1 h-[16px] w-[16px] text-gray-600 dark:text-darkmode-text" />

            <div class="flex flex-wrap gap-2">
              {post.data.categories.map((category) => (
                <a
                  href={`/categories/${slugify(category)}`}
                  class="bg-primary/10 text-primary hover:bg-primary/20 px-2 py-1 rounded-full text-xs font-medium transition-colors"
                >
                  {humanize(category)}
                </a>
              ))}
            </div>
          </li>
        </ul>
        <h5 class="mb-4 text-dark dark:text-darkmode-dark">
          <a
            href={`/${post.id.replace(/^\d{4}-\d{2}-\d{2}-/, "").replace(/\.(md|mdx)$/, "")}`}
            class="block group-hover:text-primary transition duration-300"
          >
            {post.data.title}
          </a>
        </h5>
        <p class="text-text dark:text-darkmode-text">
          {plainify(
            (post.body ?? "").slice(
              0,
              Number(i < 2 ? summary_length * 1.5 : summary_length),
            ),
          )}
          ...
        </p>
      </div>
    ))
  }
</div>
